
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Chose code</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Operation</label>
                    <select id="Operation" class="form-control select2 select" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Model</label>
                    <select id="Model" class="form-control select2 select" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Machine</label>
                    <select id="Machine" class="form-control select2 select" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Treatment</label>
                    <select id="Treatment" class="form-control select2 select" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>

                </div>

            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Component Category</label>
                    <select id="ComponentCategory" class="form-control select2 select" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Component Detail</label>
                    <select id="ComponentDetail" class="form-control select2 select" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                </div>

            </div>
            <!-- /.row -->
        </div>

    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Search</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Search Code SOP</label>
                    <select id="SearchSOP" class="form-control select2" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">SOP</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                <label for="Code">Code</label>
                <input type="text" class="form-control sop-code" id="Code" placeholder="Enter Code">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Enter name">
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button class="btn btn-primary" onclick="return Add();">Submit</button>
        </div>
    </form>
</div>

@section scripts{
    <script>
        $(function () {
            LoadData();
            var valOld = "";
            $(".select").change(function () {
                valOld += $(this).val();
                $('.sop-code').val(valOld);
                console.log(valOld);
            });
        });


        //LoadData
        function LoadData() {
            //Load ComponentCategories
                $("#ComponentCategory").append('<option value="" >Choose Component Categories</option>');
            //load ComponentDetails
                $("#ComponentDetail").append('<option value="" >Choose Component Details</option>');
            //load Operations
                $("#Operation").append('<option value="" >Choose Operation</option>');
            //load SOPModels
                $("#Model").append('<option value="" >Choose Model</option>');
            //load Machines
                $("#Machine").append('<option value="" >Choose Machine</option>');
            //load Treatments
                $("#Treatment").append('<option value="" >Choose Treatment</option>');
            //load SOPs
                $("#SearchSOP").append('<option value="" >Search SOP here ...</option>');
            $.ajax({
                url: '/SOP/GetMultipleData/',
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    console.log(data.ComponentCategories);
                    console.log(data.ComponentDetails);
                    console.log(data.Operations);
                    console.log(data.SOPModels);
                    console.log(data.Machines);
                    console.log(data.Treatments);
                    console.log(data.SOPs);
                    //Load ComponentCategories
                    $.each(data.ComponentCategories, function (i, obj) {
                        $("#ComponentCategory").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                    //load ComponentDetails
                    $.each(data.ComponentDetails, function (i, obj) {
                        $("#ComponentDetail").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                    //load Operations
                    $.each(data.Operations, function (i, obj) {
                        $("#Operation").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                    //load SOPModels
                    $.each(data.SOPModels, function (i, obj) {
                        $("#Model").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                    //load Machines
                    $.each(data.Machines, function (i, obj) {
                        $("#Machine").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                    //load Treatments
                    $.each(data.Treatments, function (i, obj) {
                        $("#Treatment").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                    //load SOPs
                    $.each(data.SOPs, function (i, obj) {
                        $("#SearchSOP").append('<option value="' + obj.Code + '" >' + obj.Code + '</option>');
                    });
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }

        //Add Data Function
        function Add() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var mObj = {
                Code: $('.sop-code').val(),
                Name: $('#Name').val()

            };
            $.ajax({
                url: "/SOP/Add",
                data: JSON.stringify(mObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    LoadData();
                    alert("successed!");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function clearTextBox() {
            $('#Name').val("");
            $('#Code').val("");
            $('#Name').css('border-color', 'lightgrey');
            $('#Code').css('border-color', 'lightgrey');
        }
        function validate() {
            var isValid = true;
            if ($('#Name').val().trim() == "") {
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Name').css('border-color', 'lightgrey');
            }
            if ($('#Code').val().trim() == "") {
                $('#Code').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Code').css('border-color', 'lightgrey');
            }

            return isValid;
        }
    </script>
}